.video-card__title {
  font-size: 1rem;
  line-height: 1.3rem !important;
  max-height: 2.6rem;
}

.video-card__subtitle {
  font-size: 0.9rem;
  line-height: 1.1rem !important;
  max-height: 2.2rem;
}
